<article>
  <h1>Pousadaria App</h1>
  <p>Aqui você encontra as melhores pousadas!</p>

  <div id="app">
    <form @submit.prevent="searchGuesthouses">
      <label for="search">Busca de Pousadas</label>
      <input id="search" v-model="searchQuery" type="text" placeholder="Nome da Pousada">
      <button type="submit">Buscar</button>
    </form>
    <dl v-for="guesthouse in guesthouses">
      <dt><h4><a :href="'guesthouses/' + guesthouse.id">{{ guesthouse.brand_name }}</a></h4></dt>
      <dd>{{ guesthouse.address.city }} - {{ guesthouse.address.state }}</dd>

      <dt v-if="guesthouse.average_rating != null"><strong>Avaliação</strong></dt>
      <dd>{{ guesthouse.average_rating }}</dd>
    </dl>
  </div>
</article>

<script>
  const { createApp } = Vue

  createApp({
    data() {
      return {
        guesthouses: [],
        searchQuery: ''
      }
    },
    methods: {
      searchGuesthouses() {
        fetch(`http://localhost:4000/api/v1/guesthouses?search=${this.searchQuery}`)
          .then(response => response.json())
          .then(data => this.guesthouses = data);
      }
    },
    mounted() {
      this.searchGuesthouses();
    }
  }).mount('#app')
</script>